
#para{
    background-color: yellow;
   color: green;
}
.para{
    background-color: #ddd;
    color: green;
}

}
#paragraph{
    background-color: #ddd;
    color:yellow;
}
}
/*first img,.second img,.third img,.forth img{
    width: 200px
}*/
    
img{
     width: 200px;
     padding: 10px;
}

.parent{
    display: flex;
    flex-direction: row-reverse;
}
/*media quiries*/
@media screen and (max-width: 425px){
    .parent{
        flex-direction: column;
    }
    .first{
        background-color: #c45e45;
   }
}
/*tablet media quiries*/
@media screen and (min-width: 426px) and (max-width: 768px){
    .parent{
        flex-direction: row-reverse ;
        justify-content: space-between;
    }
    .first{
        background-color: #ddd;
        border-radius: 20px;
        width: 300px;
    }
}